[submodule "WeSplit"]
	path = WeSplit
	url = https://github.com/DavidRRg/WeSplit.git
[submodule "SwiftUIBasicsApp"]
	path = SwiftUIBasicsApp
	url = https://github.com/DavidRRg/SwiftUIBasicsApp.git
[submodule "GuessTheFlag"]
	path = GuessTheFlag
	url = https://github.com/DavidRRg/GuessTheFlag.git
